.navbar-dashboard{
    z-index: 100;
    height: 60px;
    transition: .2s;
    padding-left: 1rem;
    padding-right: 1rem;
    box-shadow: 0 .46875rem 2.1875rem rgba(8,10,37,.03),0 .9375rem 1.40625rem rgba(8,10,37,.03),0 .25rem .53125rem rgba(8,10,37,.05),0 .125rem .1875rem rgba(8,10,37,.03);
    background: #ffffff;
}
.navbar-main-home{
    z-index: 10;
    background-color: transparent !important;
    position: absolute;
    top: 20px;
    left: 0;
    clear: both;
    right: 0;
}

.app-header__logo {
    background: rgba(250,251,252,.1);
    visibility: visible;
    padding: 0 1.5rem;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    transition: width .2s;
}

.app-header__content {
    display: flex;
    align-items: center;
    align-content: center;
    flex: 1 1;
    padding: 0 1.5rem;
    height: 60px;
}
.app-header__content .app-header-left {
    display: flex;
    align-items: center;
}
.app-header__content .app-header-right {
    align-items: center;
    display: flex;
    margin-left: auto;
}
.toggler{
    display: none;
    cursor: pointer;
    font-size: 1.7rem;
    opacity: .4;
}
@media screen and (max-width: 567px) {
    .toggler{
        display: block;
    }
    
}
.app-header__logo .logo-src {
    height: 31px;
    width: 180px;
    background: url("./../img/brand/logo-clean-white.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.landing-page {
    font-size: 1rem;
    line-height: 1.6rem;
    color: #fff;
    .navbar-nav {
        height: 100%;
        position: relative;
        display: flex;
        align-items: center; 
    .nav-item{
        text-decoration: none;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        
        >a {
            color: #fff;
            transition: color .2s;
            font-family: Nunito,sans-serif;
            font-size: 1rem;
            display: inline-block;
            margin-top: 0;
            text-decoration: none;
            background-color: initial;
            letter-spacing: 1.5px;
            }
        }
    }
}
.user_round_picture{
    cursor: pointer;
    border-radius: 50%;
}
.user__name{
    text-transform: capitalize;
    letter-spacing: .5px;
    font-weight: bold;
    opacity: .8;
}
.user__company{
    font-size: 12px;
    position: relative;
    top: -5px;
}
.dropdown-user{
    min-width: 17rem;

}
.user__name__in{
    text-transform: capitalize;
    letter-spacing: 0px;
    font-weight: bold;
    opacity: .8;
}
.user__company__in{
    font-size: 12px;
    position: relative;
    top: -5px;
}
.bg-user{
    background-color: #16aaff !important;
}
.dropdown-user-header {
    color: #fff;
    margin-top: -.65rem;
    margin-bottom: .65rem;
    position: relative;
    z-index: 6;
}
.dropdown-user-header-inner {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 8;
    opacity: .2;
    filter: grayscale(80%);
    background-size: cover;
    .wrapper{
        z-index: 10;
    }
}
.dropdown-language{
    min-width: 15rem;
    padding-top: 0;
    .dropdown-header{
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #444054;
    }
}
.logo-dashboard{
    height: 31px;
    width: 180px;
    background: url("./../img/brand/logo-clean-white.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}