$sidebar-bg-color: #ffffff !default;
$sidebar-color: #6c757d !default;
$sidebar-width: 270px !default;
$sidebar-collapsed-width: 80px !default;
$highlight-color: #4555a5 !default;
$submenu-bg-color: #ffffff !default;
$submenu-bg-color-collapsed: #ffffff !default;
$icon-bg-color: transparent !default;
$icon-size: 35px !default;
$breakpoint-xs: 480px !default;
$breakpoint-sm: 576px !default;
$breakpoint-md: 768px !default;
$breakpoint-lg: 992px !default;
$breakpoint-xl: 1200px !default;